# Игнорировать виртуальные окружения
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Игнорировать кэшированные файлы Python
__pycache__/
*.py[cod]

# Игнорировать файлы конфигурации среды
.env

# Игнорировать файлы и папки, специфичные для IDE
.idea/
.vscode/

# Игнорировать файлы документации
README.md

# Игнорировать временные файлы
*.log
*.tmp
*.temp